body {
    font-family: "Verdana";
    background-image: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
    text-align: center;
  }
  
a {
    text-decoration: none;
    color: hotpink;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    padding: 10px;
    border-radius: 25px;
    margin: 20px;
}

.row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px
}
  